#Container{
	margin: auto;
	font-size: large;
}

.ListTile{
	width: 50%;
	border: 2px solid black;
	border-radius: 50px;
	background-color: bisque;

}

.StateContainer{
	width: 90%;
	text-align: right;
	font-weight: bold;
	font-size: x-large;
}

#ContentsContainer{
	display: flex;
	font-size: large;
}

.ContentsBlock{
	width: 50%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.TitleDiv{
	font-weight: bold;
	text-align: left;
	margin-left: 30px;
}
.TitleDivRight{
	font-weight: bold;
	text-align: right;
	margin-right: 30px;
}

.ContentsDiv{
	text-align: left;
	margin-left: 30px;
}

.ContentsDivRight{
	text-align: right;
	margin-right: 30px;
}


#ButtonDiv{
	justify-items: stretch;
}


.Button{
	width: 30%;
	font-size: large;
	border-radius: 50px;
}


.Green{
	color: green;
}
.Blue{
	color: blue;
}
.Red{
	color: red;
}

.Margin10{
	height: 10px;
}
.Margin25{
	height: 25px;
}

.Margin50{
	height: 50px;
}
