#Container{
	width: 100%;
	margin: auto;
	justify-content: center;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	min-height: max-content;
	flex-direction: column;
	min-height: 100vh;
	text-align: center;
}

.btn {
	height: 100%;
}